<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

<div id="content">
      <div class="container">
        <div class="jumbotron">
      <h1>View and Manage your Lists</h1>

      <ul class="list-group">
          <% lists.forEach((list) => { %>
            <li class="list-group-item">
              <a style="color:navy; font-size: 14px; font-weight: bold;" href="/lists/<%= list.id %>"> <%= list.title %> </a>
            </li>
          <% }) %>
          <a href="/lists/new" class="btn btn-success">Create New List </a>

        
        </ul>
    </div>
  </div>
  </div>

    </main>
  </body>
</html>
